# Core ML + NLP
torch
transformers
tensorflow-cpu

# IndicTrans Toolkit
IndicTransToolkit

# Flask + Backend
flask
flask_sqlalchemy
flask_cors

# Utilities
pillow
numpy
requests
gdown
python-dotenv

# Google AI SDK
google-generativeai
