# Core ML + NLP
torch
transformers
tensorflow-cpu

# IndicTrans Toolkit
IndicTransToolkit

# FastAPI + Backend
fastapi
uvicorn[standard]
sqlalchemy

# Utilities
pillow
numpy
requests
gdown
python-dotenv

# Google AI SDK
google-generativeai

python-multipart